extends layout
title= title

block content
  h1 Envious Online
  p Welcome to #{title}
  p. 
    Navigation: <br/>
      /userlist - Lists users <br/>
      /adduser - Add a user <br/>
      /test - Please ignore <br/>
