extends layout
title= title

block content
  div(class="intro-screen")
    div(class="title") 
      |Envious Online
    div(class="loginform")
      div(class="text username")
        label Username: 
        input(type="text", id="user")
      div(class="text password")
        label Password: 
        input(type="password", id="pass")
      button(class="btn left login-submit") Log In
      button(class="btn right create-account") Create Account
