body {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 30px;
}
h2 {
	margin:0 0 .5em 0;
}
a {
  color: #00B7FF;
}
.btn {
    display: inline-block;
    width: 48%;
    height: 80px;
    margin-bottom: 0;
    margin-top: 20px;
    color: #ECFFE0;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
    background-color: #333333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
}
.btn:hover,
.btn:focus {
    color: #894879;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	position: relative;
	left: 23%;
}
.intro-screen {
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: 400;
    position: absolute;
    height: 60%;
    width: 96%;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}
.create-screen {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 400;
	position: absolute;
	height: 60%;
	width: 96%;
	margin: auto;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}
.title {
    margin: 2px auto;
    text-align: center;
    width: 100%;
    font-family: 'Cabin Condensed', sans-serif;
    color: #894879;
    font-weight: 300;
    font-size: 110px;
}
.loginform {
	height: 60%;
}
.createform {
	height: 60%;
}
.in {
	width: 49%;
}
.text {
	height: 30%;
}
.text input {
    text-align: center;
    padding: 10px;
    width: 50%;
    font-family: 'Cabin Condensed', sans-serif;
    color: #A22FB0;
    font-weight: 300;
    font-size: 54px;
    border: 2px inset black;
    border-radius: 10px;
    background: transparent;
    margin: 5px;
    float: right;
}
.text label{
	height:20%;
	font-family: 'Cabin Condensed', sans-serif;
	color: #333333;
	font-size: 50px;
}



#wrapper {
	padding-left:312px;
	position:relative;
}
	#highscore table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#highscore table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#highscore table tbody {
			padding:0; 
			margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#highscore table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}
#highscoreInfo {
	width:250px;
	position:absolute;
	top:0;
	left:0;
}
	#highscoreInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}
fieldset {
	border:0;
	padding:0;
	margin:0;
}
